<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' /> 
        <!--FONTS & ICON-->
        {% include 'now-fonticon.html' %}
        <!--BOOTSTRAP & NOW UI CSS-->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/now-ui-kit.css' %}" rel="stylesheet" />
        <!--CUSTOM CSS-->
        {% block css %}{% endblock %}
    </head>
    <body class="login-page sidebar-collapse">
        {% block content %}{% endblock %}
        {% include 'now-script.html' %}
    </body>
</html>